__pycache__/
*.pyc
.ipynb_checkpoints/

logs/
runs/
wandb/
checkpoints/
outputs/
results/

*.pt
*.pth
*.ckpt

datasets/*
!datasets/README.md

.DS_Store
.vscode/
.idea/

mamba_ssm/**/__pycache__/
mamba_ssm/**/*.pyc
mamba_ssm/**/*.so
mamba_ssm/**/build/
mamba_ssm/**/dist/
mamba_ssm/**/*.egg-info/
